* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

h4 {
  font-size: 50px;
}

.header {
  padding: 30px 0;
  background-color: #7da1d8;
}

.aside {
  width: 25%;
  padding: 100px 0;
  background-color: #c95598;
}

.nav {
  width: 25%;
  padding: 100px 0;
  background-color: #80cbcc;
}

.main {
  width: 75%;
  padding: 200px 0;
  background-color: rgb(113, 63, 160);
  /* flex-direction: row; */
}

.content {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 40px 0;
  background-color: #2faa66;
}

.clear {
  display: block;
  clear: both;
}
